<div class="container-contacts">
    <div class="contacts">
        <h1 id="contactsh1">Контакты</h1>
        <p class="contact-number">+79981236570</p>
        <p class="contact-email">bballsupport@gmail.com</p>
        <img id="network" src="/images/vk1.png" alt="VK">
        <p class="networks"><a href="https://vk.com/bball">https://vk.com/bball</a></p>
        <img id="network" src="/images/telegram1.png" alt="TG">
        <p class="networks"><a href="t.me/bbal">t.me/bball</a></p>
        <img id="network" src="/images/instagram1.png" alt="INST">
        <p class="networks"><a href="@bball_shop">@bball_shop</a></p>
    </div>
    <div class="img-contacts">
        <img src="/images/contacts.png" alt="">
    </div>
</div>