<div class="container-instruction">
    <img id="instruction1" src="/images/instruction1.png" alt="">
    <div class="instruction-flex">
        <p class="size-top">Чтобы правильно подобрать размер обуви, необходимо определить длину своей стопы. 
            Какими способами это можно сделать? Существует два популярных способа:
        <p class="size">
            1. Нам понадобится лист A4 и ручка/карандаш. <br> 
            Поставьте ногу на лист и поставьте метки около большого пальца и пятки.
            Затем измерьте расстояние между этими метками.
        </p>
        <p class="size-bottom">
            2. Понадобится только ручка/карандаш. <br> 
            Встаньте спиной к стене. Поставьте ногу около стены. <br>
            Поставьте метку около носка. <br>
            В конце измерьте расстояние от стены до метки.
        </p>
</div>